@import '~antd/dist/antd.css';
@import url('https://fonts.googleapis.com/css2?family=Oxanium:wght@300;400;500;600;700;800&display=swap');

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Oxanium',cursive !important;
  
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: #1F1E22;
  }
}

